<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fwd-udacity-image-processing-api</title>
  </head>
  <body>
    <h1>This is an api for udacity fwd course</h1>
    <p>
      Provide the api with
      <code>filename=" " and specify the width="" and height=""</code>
    </p>
    <p></p>
    <p>Examples:</p>
    <ul>
      <li>
        <a href="/api/images?filename=fjord">/api/images?filename=fjord</a>
      </li>
      <li>
        <a href="/api/images?filename=fjord&width=100&height=100"
          >/api/images?filename=fjord&width=100&height=100</a
        >
      </li>
    </ul>
  </body>
</html>
